asgiref==3.9.2
dj-database-url==3.0.1
Django==5.2.6
sqlparse==0.5.3
tzdata==2025.2
python-decouple==3.8
python-dotenv==1.1.1
gunicorn==21.2.0    
dj-database-url==3.0.1
djangorestframework==3.16.1
pillow==11.3.0
postgrest==2.22.0
supabase==2.22.0
supabase-auth==2.22.0
psycopg

django-storages==1.14.4

